[user]
	name = Arni Magnusson
	email = arnima@hafro.is
[push]
	default = simple
[credential]
	helper = cache --timeout=3600
[gui]
	editor = emacs -Q
[diff]
	tool = kompare
[color]
	ui = auto
[core]
	pager = /usr/share/doc/git-1.8.3.1/contrib/diff-highlight/diff-highlight
