[user]
	name = Arni Magnusson
	email = arni.magnusson@ices.dk
[push]
	default = simple
[credential]
	helper = cache --timeout=3600
[gui]
	editor = emacs -Q
[diff]
	tool = kompare
[color]
	ui = auto
[core]
	pager = diff-highlight
[cola]
	spellcheck = false
