[user]
	name = Arni Magnusson
	email = thisisarni@gmail.com
[merge]
	ff = false
[pull]
	ff = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
